#text-doc{
	font-size: 21px;
	font-family: 'Saira', sans-serif;
	text-align: justify;
	color: black;
	
}
#team{
	text-align: center;
}
table #student-table{
	margin-left: 50px;
	margin-right: 150px;
	
}

#student-table thead th{
	text-align: center;
}
#student-table tr td{
	text-align: center;
	vertical-align: center;
	padding-top: 30px;
}

ul li .topic-list{
	color: black;
	font-style: bold;
}