
.top-row{
	text-align: center;
}
#file-details{
	font-size: 18px;
	font-family: 'Saira',sans-serif;

}
.test-jumbotron {
    padding: 0.5em 0.6em;
    

    h1 {
        font-size: 2em;
        font-family: 'Saira',sans-serif;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
}

div ul li.object-properties{
    height: 90px;
    font-size: 25px;
    color: white;
    font-family: 'Saira',sans-serif;
}