.row-header{
	font-size: 50px;
	font-family: 'Saira',sans-serif;
	text-align: center;
}
.submit-button{
	width: 100px;
	height: 50px;
	border-radius: 12px;
	background-color: black;
	font-family: 'Saira',sans-serif;
	text-align: center;
	font-size: 25px;
	font-style: bold;
	font-weight: 600;
	color: white;

}
.submit-button:hover{
	background-color: white;
	color: green;
}
#username{
	font-family: 'Saira',sans-serif;
	font-size: 25px;
	
}
#user-feedback{
	font-family: 'Saira',sans-serif;
	font-size: 20px;
}
#user-message{
	font-family: 'Saira',sans-serif;
	font-size: 30px;
}

#pagination{
	font-size: 25px;
	color: black;
}

table tr td#user-space{
	background-color: black;
	color: white;

}
table tr td#user-space:hover{
	background-color:#01684c;

}

td{
	width:33%;
}

table {
    border-collapse: separate;
    border-spacing: 1em;
}